body {
	background-color: #57068c;
}

#topbanner {
	height: 125px;
	background-color: #fff;
}

header div {
	width: 1000px;
	margin: auto;
	padding-top: 12px;
}
	
nav {
	float: right;
	margin-left: 200px;
	padding-top: 50px;
}

nav li {
	display: inline;
	margin-right: 20px;
	text-transform: uppercase;
}

nav li a:hover {
	color: #57068c;
}

a {
	font-family: 'Noticia Text', serif;
	font-size: .8em;
	font-weight: bold;
	color: #7e7e7e;
	text-decoration: none;
	padding-left: 50px;
}

.mainbody {
	background-color: #e8e2e2;
	border-bottom: 3px solid white;
}

.mainbody div {
	width: 1000px;
	margin: auto;
	margin-bottom: 50px;
}

h1 {
	font-family: 'Noticia Text', serif;
	font-size: 70px;
	color: #57068c;
	margin: 0 23px 15px;
	padding-top: 27px;
}

td {
	color: #606060;
}

td a {
	font: 13px sans-serif;
	color: white;
}

#buttons {
	margin: 0 0 0 60px;
}

button {
	font: 12px sans-serif;
	color: white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: none;
	background-color: #57068c;
	margin: 25px;
	padding: 0;
	opacity: 0.6;
	transition: opacity 1s;
	-o-transition: opacity 1s; /* Opera */
	-moz-transition: opacity 1s; /* Mozilla */
	-webkit-transition: opacity 1s; /* Safari */
}

button p {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding-top: 7px;
}

button:hover {
	opacity: 1;
}

footer {
	height: 115px;
}

footer ul li {
	font-size: .7em;
	color: white;
	display: inline-block;
	text-decoration: none;
	position: relative;
	left: 70%;
	margin-top: 50px;
}