body {
	width: 960px;
	margin: auto;
}

header {
	overflow: hidden;
}

header h1 {
	text-indent: -9999px;
	margin: 20px 20px;
	float: left;
}

#torch_logo {
	width: 80px;
	height: 82px;
	position: relative;
	background-color: green;
}

#scps_logo {
	width: 192px;
	height: 66px;
	position: relative;
	right: -82px;
	background-color: blue;
}

nav {
	float: right;
}

nav li {
	display: inline;
	text-transform: uppercase;
}

a {
	color: #7e7e7e;
	text-decoration: none;
	padding: 30px;
}