body {
	background-color: #57068c;
}

#topbanner {
	width: 1440px;
	height: 125px;
	background-color: #ffffff;
}

header, div {
	width: 1000px;
	margin: auto;
	padding-top: 12px;
}

nav {
	float: right;
	margin-left: 200px;
	padding-top: 50px;
}

nav li {
	display: inline;
	margin-right: 20px;
	text-transform: uppercase;
}

a {
	font-family: serif bold;
	font-size: .8em;
	font-weight: bold;
	color: #7e7e7e;
	text-decoration: none;
	padding-left: 50px;
}

.mainbody {
	width: 1440px;
	height: 530px;
	background-color: #e8e2e2;
	border-bottom: 3px solid white;
}

.mainbody div {
	width: 1000px;
	margin: auto;
	/*clear: both;*/
	background-color: beige;
}

#portrait {
	float: left;
	padding-top: 40px;
	background-color: blue;
}

blockquote {
	float: right;
	padding-left: 30px;
	position: relative;
	/*clear: both;*/
	background-color: green;
}

blockquote p:before,
blockquote p:after {
	font-size: 40px;
	color: #bfbfbf;
	font-style: italic;
}

blockquote p:first-child:before {
	content: '“';
	position: absolute;
	top: 7px;
	left: 0;
}

blockquote p:last-child:after {
	content: '”';
	float: right;
	position: absolute;
	bottom: -2px;
	right: -15px;
}

h1, h2 {
	width: 500px;
	float: right;
	position: relative;
	background-color: red;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 25px;
}

.bodytext {
	font-size: .8em;
	width: 500px;
	float: right;
}